<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>

<div class="container pt-5 d-flex space-between justify-content-between">
    <div class="data-wrapper">
        <h3>Get Your data is here :</h3>
        <div id="data-wrapper">

        </div>
    </div>
    <div class="form-wrapper">
        <h3 class="pb-3">Put your data here:</h3>
        <div class="form-data">
            <form id="data-form">
                {% csrf_token %}
                <input id="name" placeholder="Your name" type="text">
                <input id="age" placeholder="Your age" type="text">
                <input type="submit" class="btn btn-primary btn-sm">
            </form>
        </div>
    </div>
</div>

<!-- Ajax get -->
<script>
    $(document).ready(function () {
        $('#data-form').submit(function (e) {
            e.preventDefault();

            var data = {
                name: $('#name').val(),
                age: $('#age').val(),
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
            }

            $.ajax({
                url: 'http://localhost:8000/api/firstapp/first/',
                data: data,
                dataType: 'JSON',
                type: 'POST',
                success: function (data) {
                    console.log(data)
                    var test = '<ul><li>' + data.name + '</li><li>' + data.age + '</li></ul>'
                    $('#data-wrapper').append(test)
                }
            })
        })
    })
</script>

<!--Ajax post-->

<script>

</script>
</body>
</html>